---
import Link from "./ui/link.astro";
---
<div class="max-w-screen-xl mx-auto px-5">

<div
  class="bg-indigo-500 p-8 md:px-20 md:py-20 mt-28 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Look how it works.
  </h2>
  <p class="text-indigo-100 mt-4 text-lg md:text-xl">
    Discover the system and its functioning.
  </p>
  <div class="flex mt-5">
    <Link href="/overview" style="inverted" class="text-indigo-600">How it works</Link>
  </div>
</div>
