---
import Link from "./ui/link.astro";
---
<div class="max-w-screen-xl mx-auto px-5">

  <div id="prototype" class="mt-12 flex justify-center mx-auto max-w-7xl flex-col items-center text-center">
    <h2 class="text-xl lg:text-2xl font-bold lg:tracking-tight mt-8">
      DEMO
    </h2>
    
    <iframe class="mt-10" src="https://polimi365-my.sharepoint.com/personal/10731838_polimi_it/_layouts/15/embed.aspx?UniqueId=ebe619f8-7340-4222-907e-55f23cc0ce48&embed=%7B%22hvm%22%3Atrue%2C%22ust%22%3Atrue%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create" width="1080" height="720" frameborder="0" scrolling="no" allowfullscreen title="Video demo.mp4">
    </iframe>
</div>
