---
import Link from "./ui/link.astro";
---
<div class="max-w-screen-xl mx-auto px-5">

  <div id="prototype" class="mt-24 flex justify-center mx-auto max-w-7xl flex-col items-center text-center">
    <h2 class="text-xl lg:text-2xl font-bold lg:tracking-tight mt-8">
      App Prototype
    </h2>
    
    <iframe class="mt-8" style="border: 1px solid rgba(0, 0, 0, 0.1);" width="1080" height="720" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FtOYChbKpKeeL2UorYBcqaQ%2FUI-%25E2%2580%2593-Final-prototype%3Fpage-id%3D147%253A6408%26type%3Ddesign%26node-id%3D693-11011%26viewport%3D423%252C898%252C0.05%26t%3D6hvsjQbZ1z80wADD-1%26scaling%3Dscale-down%26starting-point-node-id%3D693%253A10827%26show-proto-sidebar%3D1%26mode%3Ddesign" allowfullscreen></iframe>
</div>
