---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import heroDory from "assets/dory-circle.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<!--
<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-24 md:pb-36">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  -->

  <main
  class="bg-indigo-300 grid lg:grid-cols-2 place-items-center pt-16 pb-16 md:pt-24 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroDory}
      alt="Dory Circle"
      widths={[1200]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />

  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      A window</br> to your bag.
    </h1>
    
      <p class="text-lg mt-6 text-slate-700 max-w-md">
        Dory is a smart device that can be clipped to your bag to keep track of your essentials and avoid forgetfulness.<wbr />
      </p>
    
    <div class="mt-12 flex flex-col sm:flex-row gap-3">
      <Link
        href="#target"
        class="flex gap-1 items-center justify-center bg-black"
        rel="noopener"
        >
        <!-- <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" /> -->

        Discover more
      </Link>
      
      <!--
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub Repo
      </Link>
       -->

    </div>
  </div>
</main>
