---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import prova from "assets/hero-alt.png";
import identity from "assets/identity.svg";

---
<div class="mx-auto px-5">

  <div class="mt-6 mb-24 mx-auto max-w-7xl flex flex-col items-center text-center">
      <div class="flex items-center gap-24 mt-8 max-w-7xl">
        <Image src={identity} alt="" class=" max-w-xl"/>
        <div class="flex flex-col gap-4">
          <h2 class="text-indigo-500 text-left text-2xl lg:text-3xl font-bold lg:tracking-tight mt-1">
            Brand identity
          </h2>
        <p class="text-slate-900 text-left text-lg lg:text-xl font-normal lg:tracking-tight max-w-md">Our brand identity is designed to be fun, understandable and soft, with dynamic but regular shapes.</p>
       </div>
      </div>
      
  </div>

</div>
