---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

---
<div class="mx-auto px-5">

  <div class="my-24 mx-auto max-w-7xl flex flex-col items-center text-center">
    <div>  
      <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-1">
        Ergonomics
      </h2>
    </div>
  </div>
  
</div>
