---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon";

const improvements = [
  {
    title: "Better Intuitiveness",
    description:
      "Users faced difficulties in selecting items within the app, especially while choosing what to wear. Addressed by modifying the button shape to a more universally recognizable pattern for enhanced intuitiveness.",
    user: "user",
    icon:"bx:bxs-bulb",
    color:"text-indigo-400"
  },
  {
    title: "Overview Visualization Improved",
    description:
      "Testers recommended enhancements in the visualization of the bag on the homepage. Resolved by restructuring the visualization, allocating more visual space to the list of objects for better clarity.",
    user: "user",
    icon:"bx:bxs-show",
    color:"text-indigo-400"
  },
  {
    title: "More User Freedom",
    description:
      "Users expressed a desire for increased flexibility, specifically in the ability to close reminder notifications for missing items. Implemented, with a confirmation prompt to prevent accidental dismissals and ensure mindful interaction.",
    user: "user",
    icon:"bx:bxs-category",
    color:"text-indigo-400"
  },
];

---
<div class="mx-auto px-5">

  <div class="my-32 mx-auto max-w-7xl">
      <h3 class="text-center text-xl lg:text-2xl font-normal lg:tracking-tight">
        Post-Feedbacks Improvements
      </h3>
      <div class="grid sm:grid-cols-1 md:grid-cols-3 mt-12 gap-4 items-stretch">
        {
          improvements.map((item) => (
            <div class="bg-slate-50 shadow-slate-500 p-8 md:px-10 md:py-10 mt-1 rounded-lg flex flex-col gap-4 items-start">
              
              <div class="text-left">
                <Icon class="w-6 h-6" name={item.icon} />
                <h2 class="text-black text-xl font-semibold mt-6 leading-relaxed">{item.title}</h2>
                <p class="text-slate-600 text-md mt-2 leading-relaxed max-w-2xl">{item.description}</p>
              </div>
              <!--
              <div class="text-left flex items-center gap-4 mt-4">
                <div class="mt-1 bg-indigo-500 rounded-full p-2 w-8 h-8 shrink-0">
                <Icon class="text-white" name="bx:bxs-user" />
                </div>
                <p>{item.user}</p>
              </div>
              -->
              
            </div>
          ))
        }
      </div>
  </div>
  
</div>
