---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import team from 'assets/team.jpeg';

const feedbacks = [
  {
    title: "example",
    description:
      "Simple use of/interaction with the mobile application",
    user: "user",
    icon:"bx:bxs-like",
    color:"text-indigo-400"
  },
  {
    title: "example2",
    description:
      "Satisfactory visualization of the bag recognizing objects",
    user: "user",
    icon:"bx:bxs-like",
    color:"text-indigo-400"
  },
  {
    title: "example3",
    description:
      "Satisfaction in receiving visual and auditory feedback from the system",
    user: "user",
    icon:"bx:bxs-like",
    color:"text-indigo-400"
  },
  {
    title: "example4",
    description:
      "Enjoyment in taking part in a variety of scenarios",
    user: "user",
    icon:"bx:bxs-like",
    color:"text-indigo-400"
  },

  {
    title: "example",
    description:
      "Work on the intuitiveness of the users’ requests (e.g. calendar shortcut in homepage or non clear request to select objects if worn)",
    user: "user",
    icon:"bx:bxs-dislike",
    color:"text-red-400"
  },
  {
    title: "example",
    description:
      "Work on shortcuts or overviews of contents (e.g. in the “office” label potentially show an overview of the start time/ end time or quantity of objects listed)",
    user: "user",
    icon:"bx:bxs-dislike",
    color:"text-red-400"
  },
  {
    title: "example",
    description:
      "Implement the possibility to shut down the reminders and notifications, e.g. when some items are missing or worn",
    user: "user",
    icon:"bx:bxs-dislike",
    color:"text-red-400"
  },
  {
    title: "example",
    description:
      "Further confirmations (e.g. that I have the object)",
    user: "user",
    icon:"bx:bxs-dislike",
    color:"text-red-400"
  },
  {
    title: "example",
    description:
      "(not for all) Non-intuitive relationship between signifiers when objects are in the bag/ missing",
    user: "user",
    icon:"bx:bxs-dislike",
    color:"text-red-400"
  },
];

const improvements = [
  {
    title: "improvement",
    description: "description",
    icon: "bx:bxs-book-open",
  },
];

---
<div class="bg-indigo-50 mx-auto px-5">

<div class="p-8 md:py-20 mt-20 mx-auto flex flex-col items-center text-center">
  <div>  
    <h2 class="text-2xl lg:text-4xl font-bold lg:tracking-tight mt-6">
      Project Madness
    </h2>
    <p class="text-lg mt-4 text-slate-600 max-w-2xl">
      Having conceptualized a smart device for ADHD people, we proceeded to create a digital showcase featuring our interactive prototype. This platform served to contextualize product usage and gather valuable feedback from testers within a simulated final experience scenario.
    </p>
  </div>

  <div class="mt-12 max-w-5xl">
    <video class="w-full" controls width="360" height="240">
      <source src="https://onedrive.live.com/download?resid=86EFF36F5F36B025%21231&authkey=!ACtaXqPiiVjod4A" type='video/mp4'/>
    </video>
  </div>

  <div class="flex items-end gap-16 my-32 max-w-5xl">
    <div class="mx-auto max-w-6xl">
      
      <h3 class="text-xl lg:text-2xl font-normal lg:tracking-tight">
        Main Feedbacks
      </h3>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-8 gap-4 mx-auto max-w-5xl items-stretch">
        {
          feedbacks.map((item) => (
            <div class="bg-slate-50 shadow-slate-500 p-8 md:px-8 md:py-8 mt-1 rounded-lg flex gap-2 items-start">
              
              <div class="text-left">
                <Icon class={item.color + " w-6 h-6"} name={item.icon} />
                <p class="text-slate-600 text-md mt-6 leading-relaxed max-w-2xl">{item.description}</p>
              </div>
              <!--
              <div class="text-left flex items-center gap-4 mt-4">
                <div class="mt-1 bg-indigo-500 rounded-full p-2 w-8 h-8 shrink-0">
                <Icon class="text-white" name="bx:bxs-user" />
                </div>
                <p>{item.user}</p>
              </div>
              -->
            </div>
          ))
        }
      </div>
  </div>
</div>
  
</div>
