---
import Link from "./ui/link.astro";
import team from "assets/team.jpeg";
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import poster1 from "assets/posters/poster-1.svg";
import poster2 from "assets/posters/poster-2.svg";
---
<div class="bg-white mx-auto px-5">
    <div class="mt-16 flex justify-center mx-auto max-w-7xl flex-col items-center text-center">
      <h2 class="text-xl lg:text-2xl font-bold lg:tracking-tight mt-8">
        Posters
      </h2>

      <div class="mt-12 flex justify-center gap-8 items-start mx-auto w-full max-w-3xl">
        <Image src={poster1} alt="" width={420} height={1200} />
        <Image src={poster2} alt="" width={420} height={1200} />
      </div>
      <!--
      <div class="my-12 flex flex-col sm:flex-row gap-3">
        <Link
          href=""
          class="flex gap-1 items-center justify-center bg-black"
          rel="noopener"
          style="outline" 
          >
          <Icon class="text-black w-5 h-5" name="bx:bxs-download" />

          Download Posters
        </Link>
      </div>
      -->
    </div>
    <div class="mt-24 flex justify-center mx-auto max-w-7xl flex-col items-center text-center">
      <h2 class="text-xl lg:text-2xl font-bold lg:tracking-tight mt-8">
        Video
      </h2>
      <iframe class="mt-8" src="https://polimi365-my.sharepoint.com/personal/10731838_polimi_it/_layouts/15/embed.aspx?UniqueId=d1344cd9-f6ad-4625-b115-04b427722cbf&embed=%7B%22hvm%22%3Atrue%2C%22ust%22%3Atrue%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create" width="1080" height="720" frameborder="0" scrolling="no" allowfullscreen title="Video Final.mp4"></iframe>
    </div>
    <div class="mt-24 flex justify-center mx-auto max-w-7xl flex-col items-center text-center">
      <h2 class="mt-8 text-xl lg:text-2xl font-bold lg:tracking-tight">
        VIVA Presentation
      </h2>
      <iframe src="https://polimi365-my.sharepoint.com/personal/10731838_polimi_it/_layouts/15/embed.aspx?UniqueId=2f1249cd-d8a5-4d99-9f22-a760f0cf5def" width="720" height="480" frameborder="0" scrolling="no" allowfullscreen title="PRESENTATION-FINAL EXAM team 04.pdf"></iframe>
    </div>
</div>

