---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon";
import hero from 'assets/hero-alt.png';
import {Image , Picture } from "@astrojs/image/components";
import esploso from 'assets/esploso.svg';


---
<div class="bg-indigo-50 mx-auto px-5 py-16">
  
  <div class="mx-auto max-w-7xl flex flex-col items-center">
        <div>  
          <h2 class="text-center text-2xl lg:text-3xl font-bold lg:tracking-tight">
            Technology
          </h2>
        </div>
  </div>

  <div class="mx-auto mt-2 max-w-7xl flex flex-row items-center gap-9">


        <div class="flex items-center mt-6">
          <Image src={esploso} alt="" width={480} height={1200} class="object-fill"/>
        </div>
    <div class="mx-auto max-w-xl flex flex-col items-center">
      <div class="flex flex-col gap-4">
          <h3 class="self-stretch text-2xl font-semibold lg:tracking-tight">RFID Reader & Stickers</h3>
          <p class="self-stretch">In order to keep track of the objects’ presence inside your bag, RFID technology was employed. This choice led to both advantages and constraints.</p>
      </div>
          <div class=" max-w-lg max-h-80" style="background: url(assets/rfid.jpg), lightgray 50% / cover no-repeat;">
          </div>

      <div class="flex flex-col items-center gap-4 mt-9">
        <div class="bg-white flex flex-col rounded-lg p-7 items-start gap-2 self-stretch">
            <h3 class="text-md font-semibold lg:tracking-tight">Advantages</h3>
            <ul class="text-slate-800 list-disc pl-4">
              <li>Affordable for the end user</li>
              <li>Requires low performances hardware to work</li>
            </ul>
        </div>
        <div class="bg-white flex flex-col rounded-lg p-7 items-start gap-2 self-stretch">
            <h3 class="text-md font-semibold lg:tracking-tight">Constraints</h3>
            <ul class="text-slate-800 list-disc pl-4">
              <li>It requires the user to place RFID stickers on each item they want to register</li>
              <li>There might be problems with applying stickers to some kinds of surfaces, shapes and materials</li>
            </ul>
        </div>
      </div>

  </div>

  </div>


</div>
